body{
  margin: 0;
  bottom: 0;
  background-color: #FCF7EF;
}
ul, li{
    text-decoration: none;
  }

  a{
    text-decoration: none !important;
    color:white
}

.fs22{
  font-size: 1.3rem;
  font-family: 'PRETENDARD02';
  font-weight: 400;
}
.point {
  font-family: 'Poetsen One', sans-serif;
}