#moshboook{
    p{
    margin: 0;
    }
    .mbcls01{
        width: 321.411px;
        height: 0.5px;
        background-color: white;
    }
    .mbcls02{
        border: 1px solid white;
        padding: 2px 30px;
    }
    img{
        width: 100%;
        height: 100%;
    }
}
