.div1{
    p{
        color: #72645F;
        margin: 0;
    }
    .point{
        font-size: 2rem;
    }
   .div1img{
        width: 172px;
        height: 43px;
    } 
}
.div2{
    .strSwiper{
    max-width: 1400px;

    // img{
    
    // }

    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
        background: gray;
    }
    }    
    p{
        color:#000;
    }
}


