.div1{
    p{
        color: #72645F;
        margin: 0;
    }
    .point{
        font-size: 2rem;
    }
   .div1img{
        width: 172px;
        height: 43px;
    } 
}
.div2{
    .strSwiper{
    max-width: 1400px;

    // img{
    
    // }
    }    
    p{
        color:#000;
    }
}


